{% extends 'base.html' %}
{% load static %}
{% block meta %} <script src="{% static 'javascript/script.js' %}" defer></script> {% endblock meta %}
{% block content %}
<header class="header">

    <div class="title">
        <h1 class='quizcards-header'>Quizcards</h1>
    </div>

    <div class="login-logout-div">
        <p class='login-logout'>Welcome back <span class='username'>{{request.user.username}}</span></p>
        <p class="login-logout"><a class='link1' href="/accounts/logout/">logout</a></p>
    </div>

</header>
<main>

    <div class="add-button" id="deck-button">
        <p>Create A Deck</p>
    </div>

    {% for deck in card_num %}
        <div class='deck'>
            {% for item in deck %}
            <h3>{{ item.title }}</h3>
            <p>{{ item.description }}</p>
            {% endfor %}
            <p>There are {{ deck.1 }} cards in this deck</p>
            <div class='home-link-button-container'>
                <a class='button-link1' href='/details/{{deck.0.pk}}/'>View Cards</a>
                <a class='button-link1' href='/details/{{deck.0.pk}}/quiz/'>Quiz Me!</a>
            </div>
        </div>
    {% endfor %}
    
</main>
{% endblock content %}