{% extends 'base.html' %}
{% load static %}
{% block meta %} <script src="{% static 'javascript/quiz_me.js' %}" defer></script> {% endblock meta %}
{% block content %}

<div>
    <form action="/">
        <button type="submit">Return To Home</button>
     </form>
    <button id='restart-button' type='button'>Restart Quiz</button>
</div>

<p>
    <span id='number-of'>1</span> of {{length}}
</p>

<div class='card-container'>

    <div id='card' class='card'>

        <div id='card-front' class='card-front'>
            <p id='card-question'></p>
        </div>

        <div id='card-back' class='card-back'>
            <p id='card-answer'></p>
            <button id='mark-correct' type='button'>Correct</button>
            <button id='mark-incorrect' type='button'>Incorrect</button>
        </div>

    </div>

</div>

<p id='results-display' class='visibility-hidden'>
    Number correct: <span id='correct-display'>0</span> 
    Number incorrect: <span id='incorrect-display'>0</span> 
</p>

<span id='deck-pk' class='hidden'>{{pk}}</span>
<span id='deck-length' class='hidden'>{{length}}</span>
{% endblock content %}